body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-brand:before {
  text-decoration: none;
}

/*Added styles*/

.list-group-margin {
    margin-top: 2px;
}

.btn-posts {
    margin-bottom: 1em;
}

.enlarged-glif {
    margin-right: 4px;
    font-size: 1.2em;
}

.panel-heading-wide {
    font-size: 1.3em;
    color: #666666;
}

.bordered {
    border: 1px solid rgba(0,0,0,0.08) !important;
    border-radius: 3px !important;
}

.footer-customised {
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: center;
    font-size: 0.9em;
}

.static-link {
    font-size: 110%;
    color: #666666;
    margin: 0 1em;
}

.content-area {
    min-height: 50%;
    min-width: 50%;
}