@{
    ViewBag.Title = "About";
}

<h2>The Professional</h2>

<div class="readable">
    <span class="bold">Summery:</span> Professionals in a field can share opinions, news, advice, etc. and get endorsed by others.
    <br />
    <span class="bold">Detailed Info:</span>
    <p>
        Users who consider themselves professionals in a field can register and share news, opinions, professional advice, etc.
        They (or their posts) can be endorsed from other professionals in that field or their organization (or other organizations), if such are registered.
        Each field has a page; you can search by user or field; you can like/dislike posts, etc.
    </p>
</div>