@{
    ViewBag.Title = "Home Page";
}

<div class="panel panel-default">
    <img src="~/Images/professionals.jpg" class="center-block" />
</div>

<div class="row">    
    <div class="col-md-2 navbar navbar-default">
        <h6>Our top categories</h6>
        <ul class="nav nav-tabs nav-stacked" role="tablist">
            <li role="presentation" class="active"><a href="#">Management</a></li>
            <li role="presentation"><a href="#">Fishing</a></li>
            <li role="presentation"><a href="#">Extreme Sports</a></li>
            <li role="presentation"><a href="#">Cooking</a></li>
            <li role="presentation"><a href="#">DIY</a></li>
            <li role="presentation"><a href="#">Martial Arts</a></li>
            <li role="presentation"><a href="#">Psycology</a></li>
            <li role="presentation"><a href="#">Cinema</a></li>
            <li role="presentation"><a href="#">Advertisement</a></li>
            <li role="presentation"><a href="#">More...</a></li>
        </ul>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="~/Images/news.png" style="width: 7em; height: auto;" />
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">Some awesome news title here</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin...
                        <a href="#" class="btn btn-default pull-right">Read more...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="~/Images/news.png" style="width: 7em; height: auto;" />
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">Some awesome news title here</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin...
                        <a href="#" class="btn btn-default pull-right">Read more...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="~/Images/news.png" style="width: 7em; height: auto;" />
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">Some awesome news title here</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin...
                        <a href="#" class="btn btn-default pull-right">Read more...</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a href="#" class="btn btn-default pull-left">View More...</a>
        </div>
    </div>

    <div class="col-md-4 panel panel-default">
        <div class="panel-body">
            <h4>Featured Professionals</h4>
            <hr />
            <div class="media">
                <a class="media-left" href="#">
                    <img src="~/Images/default-profile-pic.png" alt="News Image" class="center-block img-circle" style="width: 5em; height: auto;" />
                </a>
                <div class="media-body">
                    <h5 class="media-heading">Media heading</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin...
                </div>
            </div>
            <br />
            <div class="media">
                <a class="media-left" href="#">
                    <img src="~/Images/default-profile-pic.png" alt="News Image" class="center-block img-circle" style="width: 5em; height: auto;" />
                </a>
                <div class="media-body">
                    <h5 class="media-heading">Media heading</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin...
                </div>
            </div>
            <br />
            <div class="media">
                <a class="media-left" href="#">
                    <img src="~/Images/default-profile-pic.png" alt="News Image" class="center-block img-circle" style="width: 5em; height: auto;" />
                </a>
                <div class="media-body">
                    <h5 class="media-heading">Media heading</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin...
                </div>
            </div>
        </div>
    </div>
</div>
