@using Microsoft.AspNet.Identity
@using Professional.Web.Helpers
@{
    ViewBag.Title = "Registration Success";
}

<h2>Congratulations!</h2>
<p>You registered successfully.</p>
<br />
@Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_InfoNavigation.cshtml")
