@using Professional.Web.Areas.KendoUIAdmin.Models
@using Professional.Web.Helpers

@model IEnumerable<UserAdminModel>
@{
    var ControllerName = "UsersAdmin";
}

@if (TempData["success"] == "true")
{
    @Html.Partial("~/Views/Shared/Partials/_SuccessAlert.cshtml", "New Admin added successfully!")    
}
@if (TempData["success"] == "false")
{
    @Html.Partial("~/Views/Shared/Partials/_FailAlert.cshtml", "New Admin added successfully!")
}

<div id="grid">
@(Html.Kendo().Grid<UserAdminModel>(Model)
    .Name("grid-users")
    .Columns(columns =>
    {
        columns.Bound(u => u.FirstName);
        columns.Bound(u => u.LastName);
        columns.Command(c => c.Edit()).Title("Editing");
        columns.Command(c => c.Destroy()).Title("Deleting");
        columns.Template(@<text></text>)
            .ClientTemplate("<a class='btn btn-sm btn-success custom-success' name='add' href='" +
                Url.Action("MakeAdmin", "UsersAdmin", new { Area = "KendoUIAdmin" }) + "/#=Id#'>Make Admin</a>");
        columns.Template(@<text></text>)
            .ClientTemplate("<a class='btn btn-sm btn-danger custom-danger' name='remove' href='" +
                Url.Action("RemoveAdmin", "UsersAdmin", new { Area = "KendoUIAdmin" }) + "/#=Id#'>Remove Admin</a>");
    })
    .Scrollable(g => g.Height("auto"))
    .Sortable()
    .Editable(edit => edit.Mode(GridEditMode.PopUp))
    .Pageable(pageable => pageable
    .Refresh(true)
    .PageSizes(true)
    .ButtonCount(5))
    .DataSource(data =>
        {
            data
                .Ajax()
                .Model(m => m.Id(u => u.Id))
                .Read("Read", ControllerName)
                .Update("Update", ControllerName)
                .Destroy("Destroy", ControllerName);
        }
    )
)
</div>
<script>
    //$(document).load(function () {
    //    $("#success-alert").hide();
    //})
    $("#add").on("click", function () {
        $("#success-alert").alert();
        console.log('here');
    });
</script>