@using Professional.Web.Helpers
@model PrivateProfileViewModel

@{
    ViewBag.Title = "Private";
}

<div class="row">
    <div class="col-md-6 col-md-offset-1">
        @Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_PersonalInfoView.cshtml", Model.UserInfo, new ViewDataDictionary { { "isPrivate", "true" } })
        @Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_ProfessionalInfoView.cshtml", Model.UserInfo, new ViewDataDictionary { { "isPrivate", "true" } })
    </div>
    <div class="col-md-5">
        <div class="col-md-6">
            @Html.Partial("~/Views/Shared/Partials/_HorizontalNavBar.cshtml", Model.NavigationList)
        </div>
    </div>
</div>

@Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_UpdatesView.cshtml", Model.UpdatesInfo)



