@using Professional.Web.Models.Shared

@model NavigationItem

<a href="@Model.Url" class="btn btn-default btn-posts">
    <span class="glyphicon glyphicon-list enlarged-glif"></span>
    @Model.Content
</a>
