@using Professional.Web.Helpers
@using Professional.Web.Models.Shared

@model HorizontalNavbarViewModel

<div class="navbar navbar-default text-center">
    <h6>@Model.Title</h6>
    <ul class="nav nav-tabs nav-stacked" role="tablist">
        @foreach (var item in Model.ListItems)
        {
            <li role="presentation"><a href="@item.Url">@item.Content</a></li>
        }
        @if (Model.MoreInfoUrl != null)
        {
            <li role="presentation"><a href="@Model.MoreInfoUrl">More...</a></li>
        }
    </ul>
</div>

