@using Professional.Web.Areas.Administration.Models;
@model IEnumerable<PostAdminModel>
@{
    var ControllerName = "PostsAdmin";
}
<div id="postsDb">
    @(Html.Kendo().Grid<PostAdminModel>(Model)
            .Name("grid-posts")
            .Columns(columns =>
            {
                columns.Bound(p => p.Title);
                columns.Bound(p => p.Content);
                columns.Command(c => c.Edit()).Title("Editing");
                columns.Command(c => c.Destroy()).Title("Deleting");      
            })
            .ColumnMenu()
            .Scrollable()
            .Sortable()
            .Editable(edit => edit.Mode(GridEditMode.PopUp))
            .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
            .DataSource(data =>
                {
                    data
                        .Ajax()
                        .Model(m => m.Id(u => u.ID))
                        .Read("Read", ControllerName)
                        .Update("Update", ControllerName)
                        .Destroy("Destroy", ControllerName);
                }
            )
    )
</div>
@*<script type="text/javascript">
     kendo.culture("en-US");
</script>*@



