@{
    ViewBag.Title = "InfoNavigation";
}

<a href="@ViewBag.AddInfo" class="enlarged-text">Complete your profile >></a>
<br />
<a href="@ViewBag.Profile" class="enlarged-text">Go to your profile page >></a>

