@using Professional.Web.Areas.UserArea.Models.Listing
@model IList<ItemsByFieldViewModel>

@if (Model.Count > 0)
{
    for (int i = 0; i < Model.Count; i++)
    {
        var field = Model[i];
        <span class="list-group-item medium-text"><strong>-- @field.Name --</strong></span>
        for (int j = 0; j < field.Items.Count; j++)
        {
            var item = field.Items[j];
            <a href="@item.Url" class="list-group-item">
                @if (field.WithImage)
                {
                    <img src="@item.ImageUrl" alt="Image" class="img-circle logo-custom" height="45" width="45" />
                }
                <span class="medium-text">@item.Content</span>
            </a>
        }
    }
}
else
{
    <span class="list-group-item medium-text">No items found.</span>
}