@using Professional.Web.Helpers

@model UserViewModel

@{
    var isPrivate = ViewData["isPrivate"] == "true" ? true : false;
}

<div class="panel panel-default">
    <div class="panel-heading">Professional Information</div>
    <div class="panel-body">
        @if (Model.Occupations != null ||
                Model.Occupations.Count() != 0 ||
                Model.Fields != null ||
                Model.Fields.Count() != 0)
        {
            if (Model.Occupations != null && Model.Occupations.Count() != 0)
            {
                <ul class="list-group">
                    <li class="list-group-item borderless"><b>Ocupation history</b></li>

                    @foreach (var occupation in Model.Occupations)
                    {
                        <li class="list-group-item">
                            @occupation
                            <a href="@Url.Action("Delete", "Profile", new { Area = WebConstants.UserArea,
                                    id = @occupation, type = "Occupation" })">
                                <img src="~/Images/bin.png" class="bin" alt="Delete ocupation" />
                            </a>
                        </li>
                    }
                </ul>
            }

            if (Model.Fields != null && Model.Fields.Count() != 0)
            {
                <ul class="list-group">
                    <li class="list-group-item borderless"><b>Fields of Expertise</b></li>
                    @foreach (var field in Model.Fields)
                    {
                        <li class="list-group-item">
                            @field
                            <a href="@Url.Action("Delete", "Profile", new { Area = WebConstants.UserArea,
                                    id = @field, type = "Field" })">
                                <img src="~/Images/bin.png" class="bin" alt="Delete ocupation" />
                            </a>
                        </li>
                    }
                </ul>
            }
        }

        @if (isPrivate)
        {
            <a href="@WebConstants.AddProfessionalInfoPageRoute" class="btn btn-default pull-right">Edit</a>
        }
    </div>
</div>



