@using Professional.Web.Areas.UserArea.Models.Profile.Private

@model ShortListingViewModel

<ul class="list-group short-listing" data-type="@Model.Type">
    @foreach (var item in Model.Items)
    {
        <li class="list-group-item">
            @item
            <a href="#" class="deleteLink" data-query="@item">
                <img src="~/Images/bin.png" class="bin" alt="Delete @Model.Type" />
            </a>
        </li>
    }
</ul>