@using Professional.Web.Helpers
@model IEnumerable<string>
@{
    ViewBag.Title = "Fields Listing";
}
<h3>@ViewBag.Title</h3>

<ul class="tree">
    <li>
        Fields
        <ul>
            @foreach (var field in Model)
            {
                <li>
                    <a href="@(WebConstants.FieldInfoPageRoute + @field)">@field</a>
                </li>
            }
        </ul>
    </li>
</ul>
