@using Microsoft.AspNet.Identity;
@using Professional.Web.Helpers;

<h2>Congratulations!</h2>
<p>You registered successfully.</p>
<br />
<a href="@ViewBag.AddInfo" class="enlarged-text">Complete your profile >></a>
<br />
<a href="@ViewBag.Profile" class="enlarged-text">Go to your profile page >></a>

