@model PostViewModel

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column wrapped">
            <div class="page-header">
                <h1>
                    @Html.Raw(Model.Title) <small>created by @Model.Creator</small>
                </h1>
            </div>
            <p>
                @Html.Raw(Model.Content)
            </p>
        </div>
    </div>
</div>

