@*@model bool?

<div class="form-group">
    <div class="col-md-10">
        @Html.RadioButtonFor(model => model., "false") Male
        @Html.RadioButtonFor(model => model.IsFemale, "true") Female
    </div>
</div>*@
