@using Professional.Web.Models;
@model IEnumerable<NavigationItem>

@{
    ViewBag.Title = "Index";
}

    <h2>Index</h2>

<p>
    @using (Html.BeginForm())
    {
        <p>
            Title: @Html.TextBox("SearchString") <br />
            <input type="submit" value="Filter" />
        </p>
    }

    @foreach (var item in Model)
    {
        <div>@item.Content</div>
    }
</p>
