@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section updates {
<ul class="nav nav-pills extreme updates">
    <li role="presentation" class="glif-updates">
        <a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
    </li>
    <li role="presentation" class="glif-updates">
        <a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
    </li>
    <li role="presentation" class="glif-updates">
        <a href="#"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span></a>
    </li>
</ul>
}

@RenderBody()
