@using Professional.Web.Areas.Administration.Models

@model IEnumerable<UserAdminModel>
@{
    var ControllerName = "UsersAdmin";
}

<div id="usersDb">
    @(Html.Kendo().Grid<UserAdminModel>(Model)
    .Name("grid-users")
    .Columns(columns =>
    {
        columns.Bound(u => u.FirstName);
        columns.Bound(u => u.LastName);
        //columns.Command(c => c.Edit()).Title("Editing");
        //columns.Command(c => c.Destroy()).Title("Deleting");      
    })
    //.ColumnMenu()
    .Scrollable()
    .Groupable()
    .Sortable()
    //.Editable(edit => edit.Mode(GridEditMode.PopUp))
    //.ToolBar(toolbar => toolbar.Create())
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
    .DataSource(data =>
        {
            data
                .Ajax()
                .Model(m => m.Id(u => u.Id))
                .Read("Read", ControllerName);
        //        .Create("Create", ControllerName)
        //        .Update("Update", ControllerName)
        //        .Destroy("Destroy", ControllerName);
        }
    )
)
</div>

<style scoped>
    #usersDb {
        width: 952px;
        height: 396px;
        margin: 20px auto 0;
        padding: 51px 4px 0 4px;
    }
</style>
