@{
    ViewBag.Title = "PublicUserProfile";
}

<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">Personal Information</div>
            <div class="panel-body">
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="~/Images/default-profile-pic.png" alt="News Image" style="width: 15em; height: auto;" />
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">Name</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin...
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Professional Information</div>
            <div class="panel-body">
                <h5 class="media-heading">Field</h5>
                More info...
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">User Endorsements</div>
            <div class="panel-body">
                <h5 class="media-heading">Field</h5>
                More info...
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <a href="#" class="btn btn-default btn-posts">
            <span class="glyphicon glyphicon-list enlarged-glif"></span>
            See post's page
        </a>
        <div class="panel panel-default">
            <div class="panel-heading">
                Top Posts 
                <div class="dropdown pull-right">
                    <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownFields" data-toggle="dropdown">
                        by field
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuTopPosts">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
            <div class="list-group list-group-margin">
                <a href="#" class="list-group-item">Cras justo odio</a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Recent Posts
                <div class="dropdown pull-right">
                    <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownFields" data-toggle="dropdown">
                        by field
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuRecentPosts">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
            <div class="list-group list-group-margin">
                <a href="#" class="list-group-item">Cras justo odio</a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
    </div>
</div>